.hero-section {
  background-image: url('https://imgs.search.brave.com/nofSSg1VlsV1FizsSdsDZGgkwWZcHURSsR281o7MNJI/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9o/YXBweS1raWRzLWVs/ZW1lbnRhcnktc2No/b29sXzUzODc2LTEz/ODE0MS5qcGc_c2l6/ZT02MjYmZXh0PWpw/Zw');
  background-size: cover;
  background-position: center;
  color: #94b93d; /* text color on top of the background image */
  padding: 200px 0; /* adjust padding as needed */
}

.hero-section h1 {
  font-size: 3.5rem; /* adjust font size as needed */
  font-weight: bold;
}

.hero-section p {
  font-size: 1.5rem; /* adjust font size as needed */
}
footer{
    background-color: rgb(218, 218, 178);
}